body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #b6d1d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  color: #a9a6b3;
  position: relative;
  margin-bottom: -22px;
  font-size: 11px;
}

.App-footer a {
  color: #b3ccce;
  text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}
